<h1>Discover</h1>

<div class="section">
  <h2>Search</h2>
  <teteTopicSearch></teteTopicSearch>
</div>

<div class="section" *ngIf="topTopics.length >= 10">
  <h2>Top</h2>
  <p>Trending right now!</p>
  <div class="card-columns">
    <teteTile *ngFor="let topic of topTopics" [topic]></teteTile>
  </div>
</div>

<div class="section" *ngIf=" waitingTopics.length> 0">
  <h2>Waiting for a mentor</h2>
  <p>If you're knowledgable in any of these topics we've got people who want to learn!</p>
  <div class="card-columns">
    <teteTile *ngFor="let topic of waitingTopics" [topic]="topic"></teteTile>
  </div>
</div>

<div class="section">
  <h2>Newest</h2>
  <p>These are the latest topics to be created.</p>
  <div class="card-columns">
    <teteTile *ngFor="let topic of newestTopics" [topic]="topic"></teteTile>
  </div>
</div>