<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/core.css" type="text/css"></style>
  </head>
  <body>
    <header>
      <h1>Tete</h1>
    </header>
    <main>
      @RenderBody()
    </main>
    <script src="~/core.js"></script>
  </body>
</html>