<div *ngIf="!working.loading">

  <!-- TODO: normalize a relationship type that assessment and mentorship share. -->
  <!-- TODO: cetnralize this with the mentorship. -->
  <teteTopicHeader [topic]="currentAssessment.topic" [currentUser]="currentUser" [learner]="currentAssessment.learner"
    [mentor]="currentAssessment.assessor" [mentorTitle]="'as Assessor'"></teteTopicHeader>
  <!-- Contact Details -->
  <div>

  </div>

  <!-- Assessor Section -->
  <div *ngIf="isAssessor">
    <div class="form-group">
      <label for="assessorComments">Public Comments about the assessment</label>
      <textarea id="assessorComments" class="form-control" [(ngModel)]="working.assessorComments"></textarea>
      <small class="form-text text-muted">What the learner could have done better and what they did well.</small>
    </div>

    <label for="learnerRating">Score</label> {{working.assessorRating * 100}}%
    <input id="learnerRating" class="form-control-range" type="range" min="0" max="1" step="0.05"
      [(ngModel)]="working.assessorRating" />

    <span class="form-text">Final Results</span>
    <button class="btn btn-success">Pass</button>
    <button class="btn btn-danger">Fail</button>
  </div>

  <!-- Learner Section -->
  <div *ngIf="!isAssessor">
    Learner
  </div>
</div>