body {
  margin: 0px;
}

h2 {
  margin: 0px;
}
header {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}

form {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #dddddd;
  width: 300px;
}

form div {
  margin: 20px;
}

label,
input {
  display: block;
  width: 100%;
}
