<body>
  <app-nav-menu></app-nav-menu>
  <div>
    <div *ngIf="error.display" class="toast toast-alert"
      style="opacity: 1; margin: 70px 20px; position: absolute; top: 0; right: 0;" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Error</strong>
      </div>
      <div class="toast-body">
        {{error.message}}
      </div>
    </div>
  </div>

  <div class="container">
    <pre *ngIf="bannerMessage" class="alert alert-primary">{{bannerMessage}}</pre>
    <div *ngIf="!currentUser.userName && currentUser.loaded" class="alert alert-info">
      You're currently not logged in and using a Guest profile.<br />
      Go to <a routerLink="/settings">Settings</a> to log in or register your account.
    </div>
    <div *ngIf="currentUser.block" class="alert alert-danger">
      Your account has been temporarily blocked until
      {{currentUser.block.endDate.substr(0, currentUser.block.endDate.indexOf('T'))}}.<br />
      Please review our <a routerLink="/tos">Terms of Service</a>.
    </div>
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </div>


</body>
<footer class="footer navbar navbar-dark bg-dark border-top box-shadow">
  <div class="container">
    <div>
      <a routerLink="/tos">Terms</a>
      <a routerLink="/privacy">Privacy</a>
      <a routerLink="/settings">Settings</a>
      <a routerLink="/support">Support</a>
    </div>
  </div>
</footer>