@{
  Layout = "_Layout";
}

<h1>Forgot Password</h1>

<section>
  <div>
    <label for="userEmail">Email</label>
    <input type="textbox" id="userEmail" />
  </div>
  <button id="submit" asp-controller="Login" asp-action="Forgot">Reset Password</button>
</section>