@{
  Layout = "_Layout";
}


@using(Html.BeginForm())
{
<h2>Login</h2>
<section>
  <div>
    <label for="userName">UserName</label>
    <input type="textbox" name="userName"/>
  </div>
  <div>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword"/>
  </div>
  <div>
    <a href="/Login/Register">Register Accont</a>
  </div>
  <input type="submit">
</section>
}