@{
  Layout = "_Layout";
}

<form action="/Login/Register" method="post" id="registrationForm">
  <h2>Register New Account</h2>
  <section>
    <div>
      <label for="userName">UserName</label>
      <input type="textbox" name="userName" />
    </div>
    <div>
      <label for="userDisplayName">Name</label>
      <input type="textbox" name="userDisplayName" />
    </div>
    <div>
      <label for="userEmail">Email</label>
      <input type="textbox" name="userEmail" />
    </div>
    <div>
      <label for="userPassword">Password</label>
      <input type="password" name="userPassword" />
    </div>
    <div>
      <a href="/Login">Login</a>
    </div>
    <div>
      <input id="submit" type="submit" onsubmit="testForm()">
    </div>
  </section>
</form>
