<h1>Language Admin</h1>

<table>
  <tr>
    <td>Element</td>
    <td *ngFor="let lang of Languages"><input type="text" [(ngModel)]="lang.name" /></td>
  </tr>
  <tr *ngFor="let element of fullElements">
    <td><input type="text" [(ngModel)]="element.key" /></td>
    <td *ngFor="let lang of Languages"><input type="text" [(ngModel)]="lang.elems[element.key]" /></td>
  </tr>
  <tr>
    <td></td>
    <td *ngFor="let lang of Languages"><button type="button" (click)="saveLanguage(lang)">Save</button></td>
  </tr>
</table>

<button (click)="addLanguage()">Add Language</button>

<button (click)="addElement()">New Element</button>